# This is Git's per-user configuration file.
[user]
	name = Ankur Oberoi
	email = aoberoi@gmail.com
[core]
	excludesfile = /Users/ankur/.gitignore_global
[alias]
	lol = log --decorate --oneline --graph